.size {
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size__label {
    display: flex;
    margin-bottom: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.sizeS {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: black;
    color: white;
}

.sizeM,
.sizeL {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: rgb(196, 188, 188);
    color: black;
}
