.colors__label {
    display: flex;
    margin-bottom: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.colors {
    height: 50px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
}

.black {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: black;
    margin-right: 5px;
}

.purple {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: #220346;
    margin-right: 5px;
}

.yellow {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: rgb(187, 187, 68);
    margin-right: 5px;
}

.green {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background: #4c5536;
}